<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ToDoListApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoLists"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.ToDoLists">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 备选图标 1 -->
        <activity-alias
            android:name=".MainActivityAlias1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_alt1"
            android:roundIcon="@mipmap/ic_launcher_alt1_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 备选图标 2 -->
        <activity-alias
            android:name=".MainActivityAlias2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_alt2"
            android:roundIcon="@mipmap/ic_launcher_alt2_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 备选图标 3 -->
        <activity-alias
            android:name=".MainActivityAlias3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_alt3"
            android:roundIcon="@mipmap/ic_launcher_alt3_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Alarm Receiver -->
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <service
            android:name=".alarm.AlarmHolderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService" />
    </application>
</manifest>
